/*--------------- fonts ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------ common styles and utility ---------------------*/
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------- 
            top banner style 
----------------------------------------------------*/
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  background-color: #161616;
  color: white;
  width: 1321px;
  height: 500px;
  margin-top: 50px;
  border-radius: 30px;
}
.container:hover{
  transition: 0.75s, fade-out;
  background-color: yellow;
  color: black;
}

.banner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-news{
  margin-top: 50px;
  margin-left: 50px;
}
.news-heading{
  font-size: 2em;
  font-weight: 700;
}
.btn {
  position: absolute;
  background-color: #DD0000;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
}
.banner-img img{
  position: relative;
  width: 100%;
  height: 500px;
}
/*-------- ---------------------------------------------------------
            upcoming match and transfer news style 
---------------------------------------------------------------------*/
.nav-section{
  display: flex;
}
.nav-box{
  position: relative;
  border: 2px solid; 
  width: 312px;
  height: 312px;
  background-color: #161616;
  border-radius: 10px;
  margin-top: 70px;
  margin-right: 20px;
  margin-left: 100px;
}
.nav-btn{
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #FFFFFF;
  width: 252px;
  height: 64px;
  margin: 30px;
  text-decoration: none;
  color: #161616;
}
#blog-page{
  background-color: red;
  color: #FFFFFF;

}
.nav-btn:hover{
  background-color: red;
}
.transfers{
  display: grid;
  grid-template-columns: repeat(3, 31%);
  margin-top: 70px;
  padding-right: 0px;
  margin-right: 0px;
  row-gap: 40px;
}
.transfer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: block;
  width: 92.6%;
  border: 2px solid;
  border-radius: 10px;
}
.transfer-btn a{
  display: block;
  width: 100px;
  height: 32px;
  text-decoration: none;
  text-align: center;
  color: #161616;
  padding-top: 5px;
  margin-left: 15px;
  border: 2px solid;
  border-radius: 5px;
}
.transfer-title{
  margin-left: 15px;
  padding-right: 50px;
}
.course-info, .fa-clock, .fa-comment-dots{
  margin-left: 10px;
  padding-right: 10px;
}

/*--------------------------------------------- 
              match part 
 ---------------------------------------------*/
 .matches{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
  padding-right: 0px;
  margin-right: 0px;
  column-gap: 40px;
  row-gap: 40px;
  height: 100%; 
}
.match{
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(231, 231, 231, 0.644);
}
.match-banner{
  display: flex;
  align-items: center;
}
.vs{
  margin: 15px;
  font-weight: 700;
}
.schedule{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team{
  font-size: 12px;
}
.time{
  display: block;
  margin: -15px;
  font-size: 14px;
}

.hidden-btn a{
  display: flex;
  position: relative;
  background-color: #DD0000;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  justify-content: center;
  display: none;
}
/*-------------------------------------------------------------
                            footer 
---------------------------------------------------------------*/
footer{
  background-color: black;
  color: white;
  height: 400px;
  width: auto;
  margin-top: 150px;
}

footer h3{
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}
footer hr{
  position: absolute;
  width: 1321px;
  height: 0px;
  left: 110px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-info {
  display: flex;
  justify-content: center;
}
.footer-btn{
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 60px;
  padding-left: 30px;
}
.social-btn{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  margin-top: 35px;
  padding-left: 15px;
}

/*------------------------------------------------------- 
                      Media Queries
----------------------------------------------------------*/

/*--------------------- Mobile Devices --------------------------*/
@media only screen and (max-width:688px) {

  .container{
    width: auto;
    height: 50%;
    margin: 20px;
    padding-right: 30px;
    text-align: center;
  }
  .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-img img{
    padding-top: 70px;
  }
  .btn{
    position: relative;
  }
  .nav-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 20px;
  }
  .nav-box{
    background-color: #FFFFFF;
    position: relative;
    border: none; 
    width: auto;
    height: auto; 
    margin-top: 0;
    margin-right: 0px;
    margin-left: 10%;
  }
  .nav-btn{
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
  }
  .transfers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 15px;
    width: 45%;

  }
  .transfer{
    display: block;
    width: 98%;
    padding-right: 0px;
    border: 2px solid;
    border-radius: 10px;
  }

  .matches{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30px;
    margin-top: 15px;
  }
  .match{
    display: block;
    width: 86%;
    padding-right: 0px;
    border: 2px solid;
    border-radius: 10px;
  }

  footer{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    width: 100%;
    height: 70em;
  }
  .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer hr{
    display: none;
  }
}

/*--------------------------------------------------- 
        tablet devices
-----------------------------------------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container{
    width: auto;
    height: 50%;
    margin: 20px;
    padding-right: 30px;
  }
  .nav-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 20px;
  }
  .nav-box{
    display: flex;
    background-color: #FFFFFF;
    position: relative;
    border: none; 
    width: auto;
    height: auto; 
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
  }
  .nav-btn{
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
  }
  .transfers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 12%;
    margin-top: 0;
  }
  .transfer{
    width: 86%;
  }
  .matches{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .match{
    display: grid;
    justify-content: center;
    align-items: center;
    
  }
  .hidden-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
  .hidden-btn a{
    display: block;
    
  }
  footer{
    width: 55em;
  }

  footer hr{
    display: none;
  }
}